h1{
    background-color:rgb(233, 241, 233);
    border: 5px solid rgb(127, 188, 52);
}
div{
    background-color: brown;
    margin:0% 5%;
    padding: 10%;
    border: 3px solid black;
}

div.paragraph{
    background-color: cornflowerblue;
    margin: 3%;
    padding: 10%;
    border: 3px solid rgb(63, 149, 44);
}