/*
h1{
    background-color:rgb(233, 241, 233);
    border: 5px solid rgb(127, 188, 52);
}
div{
    background-color: brown;
    margin:0% 5%;
    padding: 10%;
    border: 3px solid black;
}
*/

/*
div.big-box{
     width: 100px;
     height: 100px;
     background-color: gray;
}

div.little-box{
    background-color: lightgray;
    width: 100px;
    height: 100px;
}
*/
.big-box,.little-box{
    width: 100px;
    height: 100px;

}
.big-box{
    background-color: rgb(107, 51, 52);
}
.little-box{
    background-color: blueviolet;
}